{% extends 'base.html' %}
{% block content %}
<div class="home">
<div class="header d-flex justify-content-center align-items-center flex-column min-vh-100 mx-auto w-75">
<h1 class="text-center">Project Gallery</h1>
<p>"welcome to project gallery where you can view different king of images and can view their categories and the location of each <img src="
    " class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">."</p>
    <a href="/images" class="btn">Welcome</a>
    </div>
    </div>
{% endblock %}